<h2>Créer une News</h2>
<div class="col-md-12 row">
	<div class="col-md-4">
		<input type="text" value="{{currentNews.title}}" class="form-control col-md-4" size="10" id="newsTitle" placeholder="Titre de la News" />
	</div>
	<div class="col-md-4">
		<input type="text" class="form-control col-md-4" size="10" id="newsDate" value="{{currentNews.date*1000 | date:'dd/MM/yyyy'}}" />
	</div>
	<button class="btn btn-info pull-right" ng-click="addNews();">Nouvelle News</button>
</div>

<br />
<br />
<br />

<div class="col-md-12">
	<form method="post">
		<textarea id="newsContent" height="500px" ui-tinymce="tinymceOptions" ng-model="tinyMceContent">{{tinyMceContent}}</textarea>
		<br />
		<div class="row col-md-12">
			<input style="display:inline;" type="file" class="btn btn-primary" value="Ajouter Images" />

			<button type="submit" id="newsSend" ng-click="sendNews();" class="btn btn-info pull-right">{{sendText}}</button>
		</div>
		<input type="hidden" id="newsId" value="{{currentNews.id}}" />
	</form>
</div>
<div class="col-md-12">
	<hr width="75%" />
	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="n in news">
				<td>{{n.title}}</td>
				<td><a ng-click="modify(n.id);" class="btn btn-sm btn-primary">Modifier</a></td>
				<td><a ng-click="" class="btn btn-sm btn-danger">Supprimer</a></td>
			</tr>
		</tbody>
	</table>
	
</div>

