<h2 style="display:inline;">Créer une News</h2>
<div class="col-md-12 row">
<input type="" class="" placeholder="Titre de la News" />
	<button class="btn btn-info pull-right">Nouvelle News</button>
</div>
<br />
<div class="col-md-12">
	<form method="post">
		<textarea height="500px" ui-tinymce="tinymceOptions" ng-model="tinyMCEcontent"></textarea>
		<br />
		<div class="row col-md-12">
			<input type="file" class="btn btn-primary" value="Ajouter Images" />

			<button type="submit" id="sendNews" class="btn btn-info pull-right">Créer nouvelle News</button>
		</div>
	</form>
</div>
<div class="col-md-12">
	<hr width="75%" />
	
</div>

