<div class="row col-md-12">
	<div class="col-md-10">
		<ul class="nav nav-pills well well-sm" id="ts-nav-subbar-list">
			<li class="{{{true: 'active', false: ''}[current.id == p.id]}}" ng-repeat="(index, p) in pages">
				<a ng-click="modify(index)" style="padding:5px;" class="clickable">{{p.name}}</a>
			</li>
		</ul>
	</div>
	<button ng-click="addPage();" class="btn btn-success">Nouvelle page</button>
</div>
<div class="col-md-12">
	<div class="col-md-12 row">
		<div class="col-md-4" style="display:inline;">
			<input class="form-control" ng-model="current.name" palceholder="Nom de la page" />
		</div>
		<div class="col-md-2">
			Images Upload
			<div ts-image-upload="" callback="uploadedImage"></div>
		</div>
		<div class="col-md-2">
			Fichiers Upload
			<div ts-image-upload="" callback="uploadedFile"></div>
		</div>
		<button ng-click="delete();" class="btn btn-danger pull-right" style="margin-left:5px;">Supprimer</button>
		<button ng-click="save();" class="btn btn-info pull-right" style="margin-right:5px;">Enregistrer</button>
	</div>
	<br />
	<br />
	<br />
	<form method="post" class="col-md-12">
		<textarea id="pageContent" rows="100" ui-tinymce="tinymceOptions" ng-model="current.content">{{current.content}}</textarea>
	</form>
</div>
