<div class="col-md-12 row">
	<div class="col-md-6">
		<h2>Publicités Verticales</h2>
		<input style="margin-bottom:30px;" type="file" multiple class="form-control col-md-6" />
		<div class="col-md-12" align="center">
			<img ng-repeat="v in verticals" ng-src="{{v.img}}" style="max-height:500px;" ng-click="removeImage(v);" class="img-thumbnail" />
		</div>
	</div>
	<div class="col-md-6">
		<h2>Publicités Horizontales</h2>
		<input style="margin-bottom:30px;" type="file" multiple class="form-control col-md-6" />
		<div class="col-md-12" align="center">
			<img ng-repeat="h in horizontals" ng-src="{{h.img}}" ng-click="removeImage(h);" class="img-thumbnail" />
		</div>
	</div>
</div>