<div class="col-md-12 row">
	<div class="col-md-6">
		<form class="form-inline">
			<input style="margin-bottom:30px;" type="file" class="form-control col-md-6" id="newAd" />
		</form>
	</div>
	<div class="col-md-6 row">
		<label>
		<input type="checkbox" ng-model="vertical" /> Verticale
		</label>
		<label>
			<input type="checkbox" ng-model="horizontal" /> Horizontale
		</label>
		<label>
			<input type="checkbox" ng-model="square" /> Carrée
		</label>
		<button class="btn btn-primary" ng-click="save()">Sauver</button>
	</div>
</div>
<div class="col-md-12 row">
	<div class="col-md-4">
		<h2>Publicités Verticales</h2>
		<div class="col-md-12" align="center">
			<img ng-repeat="v in verticals" ng-src="{{v.url}}" style="max-height:500px;" ng-click="removeImage(v);" class="img-thumbnail" />
		</div>
	</div>
	<div class="col-md-4">
		<h2>Publicités Horizontales</h2>
		<div class="col-md-12" align="center">
			<img ng-repeat="h in horizontals" ng-src="{{h.url}}" ng-click="removeImage(h);" class="img-thumbnail" />
		</div>
	</div>
	<div class="col-md-4">
		<h2>Publicités Carrés</h2>
		<div class="col-md-12" align="center">
			<img ng-repeat="sq in squares" ng-src="{{sq.url}}" ng-click="removeImage(sq);" class="img-thumbnail" />
		</div>
	</div>
</div>
